cachetools
slack_bolt
fuzzywuzzy
python-Levenshtein
# Pin google-* and protobuf to avoid extremely long pip backtracking process
google-auth>=2.40.3
google-api-core>=2.25.1
google-cloud-bigquery>=3.35.1
protobuf>=6.31.1
pyyaml
artcommon @ git+https://github.com/openshift-eng/art-tools.git@main#subdirectory=artcommon
rh-doozer @ git+https://github.com/openshift-eng/art-tools.git@main#subdirectory=doozer
pyartcd @ git+https://github.com/openshift-eng/art-tools.git@main#subdirectory=pyartcd
rh-elliott @ git+https://github.com/openshift-eng/art-tools.git@main#subdirectory=elliott
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
