git+https://github.com/openshift/doozer.git#egg=rh-doozer
git+https://github.com/openshift/elliott.git#egg=rh-elliott
koji
slack_sdk==3.19.1
cachetools
aiohttp>=3.7.3
requests_kerberos
PyYAML
requests
slack_bolt==1.15.1